#{extends 'main.html' /}
#{set title:'ravi::sampla_page' /}

<div class="container">
    <div class="row well"></div>

    <div class="row">
        <!--sidebar area -->
        <div class="col-xs-4">
            <!--sidebar top -->
            <div class="row well">
                <i class="glyphicon glyphicon-log-out" style="font-size: 50px;"></i>
                <h5>Enter Query Details</h5>
            </div>

            <!--sidebar bottom -->
            <div class="row">
                <div class="form-group">
                    <label for="dDown">from/to date</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <i class="glyphicon glyphicon-calendar" style="font-size: 20px;"></i>
                        </div>
                        <div class="col-xs-6">
                            <i class="glyphicon glyphicon-calendar" style="font-size: 20px;"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="dDown">Business Unti</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="dDown">Productid type</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <button class="btn btn-info">Ok</button>
                <button class="btn btn-info">Cancle</button>
            </div>

        </div>

        <!--table area -->
        <div class="col-xs-7" style="margin-left: 20px;">
            <div class="row">
                <div class="row">
                    <i class="glyphicon glyphicon-transfer"></i> Chosen Prise

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>col1</th>
                                <th>col2</th>
                                <th>col3</th>
                                <th>col4</th>
                                <th>col5</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- this need to be dynamic-->
                            <tr>
                                <td>data1-1</td>
                                <td>data1-2</td>
                                <td>data1-3</td>
                                <td>data1-4</td>
                                <td>data1-5</td>
                            </tr>
                            <tr>
                                <td>data2-1</td>
                                <td>data2-2</td>
                                <td>data2-3</td>
                                <td>data2-4</td>
                                <td>data2-5</td>
                            </tr>
                            <tr>
                                <td>data3-1</td>
                                <td>data3-2</td>
                                <td>data3-3</td>
                                <td>data3-4</td>
                                <td>data3-5</td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
        </div>

    </div>

</div>